 <!-- <ul>
    <li class="nav-item" *ngFor="let m of menu['header-menu']">
        <a href="" class="nav-link" aria-current="page" routerLink="{{m.link}}">{{m.name}}</a>
      </li>
  </ul> -->
        <!-- <nav class="navbar navbar-light bg-light  p-3 mb-2 " >
            <form class="container-fluid d-flex justify-content-center">
              <button class="btn btn-sm btn-outline-success me-2" type="button">
                <a routerLink="/table" class="text-decoration-none  text-black">Table</a>
              </button>
              <button class="btn btn-sm btn-outline-success me-2" type="button">
                <a routerLink="/login" class="text-decoration-none text-black">Login</a>
              </button>
              <button class="btn btn-sm btn-outline-success me-2" type="button">
                <a routerLink="/registration" class="text-decoration-none text-black">Registration</a>
              </button>
              <button class="btn btn-sm btn-outline-success me-2" type="button">
                <a routerLink="/studenttest" class="text-decoration-none text-black">Student</a>
              </button>
              <button class="btn btn-sm btn-outline-success me-2" type="button">
                <a routerLink="/calculator" class="text-decoration-none text-black">Calculator</a>
              </button>
              <button class="btn btn-sm btn-outline-success me-2" type="button">
                <a routerLink="/listofemployees" class="text-decoration-none text-black">listofemployees</a>
              </button>
            </form>
          </nav> -->
  

<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-secondary shadow-sm p-3 m-auto ">
    <div class="container-fluid">
        <ul class="container-fluid d-flex justify-content-center">
          <li class="nav-item" *ngFor="let m of menu['header-menu']" class="btn btn-sm btn-outline-success me-2" type="button">
            <a href="" class="nav-link" aria-current="page" routerLink="{{m.link}}" class="text-decoration-none  text-white">{{m.name}}</a>
        </ul>
    </div>
  </nav>
</header>

