<h1>Registration</h1>
<form action="">
    <div>
        <label for="firstname">First Name : </label>
        <input type="text" name="firstname" id="num">
    </div><br>
    <div>
        <label for="lastname">Last Name : </label>
        <input type="text" name="lastname" id="num">
    </div><br>
    <div>
        <label for="password">Password : </label>
        <input type="password" name="password" id="num">
    </div><br>
    <div>
        <label for="password">Confirm Password : </label>
        <input type="password" name="password" id="num">
    </div><br>
    <div>
        <label for="firstname">D.O.B : </label>
        <input type="text" name="firstname" id="num">
    </div><br>
    <div>
        <label for="lastname">Mobile Number : </label>
        <input type="text" name="lastname" id="num">
    </div><br>
    <div>
        <label for="password">Address : </label>
        <input type="password" name="password" id="num">
    </div><br>
    <div>
        <label for="password">Pincode : </label>
        <input type="password" name="password" id="num">
    </div><br>
    <button type="submit">Register</button>
    

</form>