
.login{
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    border: rgb(13, 231, 122);
    width: 345px;
    height: 400px;
    margin: auto;
    text-align: center;
    font-size: large;
    background: whitesmoke;
    border-radius: 10px;
}
button{
  background-color: #04AA6D;
  color: white;
  padding: 10px 20px;
  margin: 8px 0;
  border: none;
 border-radius: 5px;
  cursor: pointer;
}
label{
    font-weight: bold;
}
#usr, #pwd {
    padding: 5px;
}
h1{
    padding: 20px;
    color: #04AA6D;
}
.red{
    color: red;
}